name: WLED CI

on:
  push:
    branches:
      - '*'
    paths-ignore:
      - '**.md'
      - '.gitignore'
      - 'LICENSE'
  pull_request:

jobs:
  wled_build:
    uses: ./.github/workflows/build.yml
